* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --imperial-red_12: hsla(357, 86%, 57%, 0.12);
  --pacific-blue_12: hsla(188, 78%, 41%, 0.12);
  --davys-gray_12: hsla(210, 9%, 31%, 0.12);
  --imperial-red: hsl(357, 86%, 57%);
  --sonic-sliver: hsl(0, 0%, 47%);
  --pacific-blue: hsl(188, 78%, 41%);
  --blue-ryb_12: hsla(220, 100%, 50%, 0.12);
  --space-cadet: hsl(220, 41%, 20%);
  --eerie-black: hsl(214, 10%, 13%);
  --davys-gray: hsl(210, 9%, 31%);
  --emerald_12: hsla(144, 62%, 53%, 0.12);
  --cool-gray: hsl(225, 11%, 59%);
  --cultured: hsl(225, 20%, 96%);
  --blue-ryb: hsl(220, 100%, 50%);
  --black_08: hsla(0, 0%, 0%, 0.06);
  --black_12: hsla(0, 0%, 0%, 0.12);
  --coral_12: hsla(15, 100%, 65%, 0.12);
  --sunglow: hsl(44, 100%, 61%);
  --emerald: hsl(144, 62%, 53%);
  --onyx-2: hsl(210, 10%, 23%);
  --coral: hsl(15, 100%, 65%);
  --white: hsl(0, 0%, 100%);
  --onyx: hsl(207, 8%, 21%);

  --ff-vietnam: "Be Vietnam Pro", sans-serif;

  --fs-1: 1.563rem;
  --fs-2: 1.5rem;
  --fs-3: 1.25rem;
  --fs-4: 1.078rem;
  --fs-5: 1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fs-8: 0.844rem;
  --fs-9: 0.813rem;
  --fs-10: 0.769rem;

  --fw-500: 500;
  --fw-600: 600;

  --transition: 0.25s ease;
  --cubic-out: cubic-bezier(0.45, 0.85, 0.5, 1);
  --cubic-in: cubic-bezier(0.5, 0, 0.5, 0.95);

  --radius-6: 6px;

  --shadow-1: 0 12px 20px hsla(210, 10%, 23%, 0.07);
  --shadow-2: 0 2px 10px hsla(0, 0%, 0%, 0.04);
  --shadow-3: 0 2px 20px var(--black_08);
}

body {
  font-family: var(--ff-vietnam);
  background-color: var(--cultured);
  scroll-behavior: smooth;
}

.container__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--white);
  box-shadow: var(--shadow-3);
  padding: 1.2rem;
  z-index: 999999999;
}

.container__footer {
  background-color: var(--white);
  box-shadow: var(--shadow-3);
  padding: 1.2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-block: 2rem;
  height: 100px;
}

.footer__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__menu li {
  margin-left: 1rem;
  list-style: none;
}
.footer__menu li a {
  text-decoration: none;
  color: var(--davys-gray);
  font-size: var(--fs-6);
  line-height: 1.7;
}

.header__logo h1 a {
  font-size: var(--fs-1);
  font-weight: var(--fw-500);
  text-decoration: none;
  color: var(--space-cadet);
}

.header__navLinks {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
  color: var(--onyx);
}

.navLinks__linkName {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: var(--radius-6);
}
.navLinks__linkName.active {
  color: var(--blue-ryb);
}
.navLinks__linkName.active a {
  color: var(--blue-ryb);
}

.navLinks__linkName a {
  text-decoration: none;
  color: var(--onyx);
}

.navLinks__linkName:hover {
  background-color: var(--cultured);
  cursor: pointer;
}
.header__profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header__profile img {
  border-radius: var(--radius-6);
  width: 2.2rem;
  height: 2.2rem;
}

.profile__userName {
  font-size: var(--fs-7);
}
.profile__userName p:last-child {
  font-size: var(--fs-10);
  color: var(--cool-gray);
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1250px;
  width: 100%;
}

/* ############# Dashboard ############### */

.container__content {
  position: relative;
  top: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  padding-bottom: 100px;
}

.welcomeBoard__wrapper {
  display: flex;
  /* align-items: center; */
  gap: 1rem;
}

.content__welcomeBoard {
  /* width: 1200px; */
  top: 25px;
  position: relative;
  margin-bottom: 5rem;
}

.content__welcomeBoard__HiUser {
  margin-bottom: 10px;
  font-size: var(--fs-2);
  color: var(--onyx-2);
  font-weight: var(--fw-600);
}

.content__welcomeBoard__welcomeText {
  color: var(--davys-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
  margin-bottom: 1.5rem;
}

.welcomeBoard_profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: var(--white);
  border-radius: var(--radius-6);
  flex: 1 auto;
  box-shadow: var(--shadow-2);
}

.profile__contactInfo {
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid var(--cultured);
  padding-bottom: 2rem;
}

.profile__boxInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile__boxInfo img {
  border-radius: var(--radius-6);
}

.contactInfo__email,
.contactInfo__phone {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--cool-gray);
  font-size: var(--fs-8);
}
.profile__projectInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}
.completion__progressbar,
.overallRating__progressbar {
  margin-top: 0.9rem;
  width: 100%;
  height: 6px;
  background: var(--cultured);
  border-radius: var(--radius-6);
  overflow: hidden;
}

.progressbar--blueColor {
  background-color: var(--blue-ryb);
  height: 100vh;
  width: 85%;
}

.progressbar--coralColor {
  background-color: var(--coral);
  height: 100vh;
  width: 75%;
}

.progressbar--greenColor {
  background-color: var(--emerald);
  height: 100vh;
  width: 75%;
}

.progressbar--redColor {
  background-color: var(--imperial-red);
  height: 100vh;
  width: 75%;
}

.progressbar--yellowColor {
  background-color: var(--sunglow);
  height: 100vh;
  width: 75%;
}

.mb {
  margin-bottom: 1rem;
}

.completion__text,
.overallRating__text {
  display: flex;
  justify-content: space-between;
  color: var(--onyx-2);
  font-size: var(--fs-8);
  font-weight: var(--fw-500);
}

.boxInfo {
  flex: 1 auto;
  margin-left: 1rem;
}

.boxInfo__name {
  color: var(--onyx);
  font-weight: var(--fw-600);
  margin-bottom: 5px;
}

.boxInfo__job {
  color: var(--cool-gray);
  font-size: var(--fs-7);
}

.welcomeBoard_tasks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.welcomeBoard_tasks--task1,
.welcomeBoard_tasks--task2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-6);
  box-shadow: var(--shadow-2);
}
.tasks__completed {
  font-size: var(--fs-10);
}
.tasks__completed p {
  margin-bottom: 0.5rem;
}

.welcomeBoard_tasks--task1 .tasks__completed p:first-child,
.welcomeBoard_tasks--task2 .tasks__completed p:first-child {
  font-size: var(--fs-3);
  font-weight: 600;
}

.welcomeBoard_tasks--task1 .tasks__completed p:last-child,
.welcomeBoard_tasks--task2 .tasks__completed p:last-child {
  color: var(--cool-gray);
}

.welcomeBoard_task1__icon {
  background-color: var(--emerald_12);
  border-radius: var(--radius-6);
  padding: 1rem;
  color: var(--emerald);
}

.welcomeBoard_task2__icon {
  background-color: var(--pacific-blue_12);
  border-radius: var(--radius-6);
  padding: 1rem;
  color: var(--pacific-blue);
}

.welcomeBoard_tasks div {
  padding: 1rem;
  background-color: var(--white);
}

.welcomeBoard_revenue {
  background-color: var(--white);
  border-radius: var(--radius-6);
  padding: 1.5rem;
  flex: 1 auto;
  box-shadow: var(--shadow-2);
  flex-direction: column;
  display: flex;
  justify-content: space-around;
}
.revenue__price {
  padding-bottom: 1.4rem;
  border-bottom: 1px solid var(--cultured);
}
.revenue__price p:first-child {
  color: var(--onyx);
  font-size: var(--fs-2);
  font-weight: var(--fw-600);
  margin-bottom: 12px;
}

.revenue__price p:last-child {
  color: var(--cool-gray);
  font-size: var(--fs-6);
}

.revenue__title {
  display: flex;
  justify-content: space-between;
}

.revenue__status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.revenue__status div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.revenue__status--trendingUp span:first-child {
  color: var(--emerald);
}

.revenue__status--trendingDown span:first-child {
  color: var(--imperial-red);
}

.trendingUp__percent,
.trendingDown__percent {
  color: var(--onyx);
  font-size: var(--fs-6);
  font-weight: var(--fw-600);
}

.trendingUp__text,
.trendingDown__text {
  color: var(--cool-gray);
  font-size: var(--fs-9);
}

.recentProject__wrapper {
  margin: 2rem 0 2rem 0;
}

.section__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.section__title {
  color: var(--onyx);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
}
.section__viewAll {
  font-size: var(--fs-9);
  padding: 8px 9px;
  display: flex;
  align-items: center;
  border-radius: var(--radius-6);
  font-weight: var(--fw-600);
  cursor: pointer;
  gap: 5px;
  border: none;
  background: none;
  color: var(--blue-ryb);
}
.section__viewAll span {
  font-size: var(--fs-9);
}
.section__viewAll.active {
  background-color: var(--blue-ryb_12);
}

.recentProject__cards {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.recentProject__cards .card {
  background-color: var(--white);
  padding: 1.5rem;
  flex: 1 auto;
  box-shadow: var(--shadow-1);
  border-radius: var(--radius-6);
  flex: 1 auto;
}
.recentProject__date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--fs-9);
  color: var(--cool-gray);
  margin-bottom: 1rem;
}
.recentProject__button {
  border: none;
  color: var(--cool-gray);
  background: none;
  display: flex;
  align-items: center;
}
.recentProject__card__title {
  margin-bottom: 1.3rem;
}
.recentProject__title {
  margin-bottom: 0.5rem;
}
.recentProject__tag {
  font-size: var(--fs-10);
  border-radius: var(--radius-6);
  padding: 0.4rem;
  display: inline;
  font-weight: var(--fw-600);
}
.recentProject__tag--blueColor {
  background-color: var(--blue-ryb_12);
  color: var(--blue-ryb);
}

.recentProject__tag--orangeColor {
  background-color: var(--coral_12);
  color: var(--coral);
}

.recentProject__tag--lightBlue {
  background-color: var(--pacific-blue_12);
  color: var(--pacific-blue);
}
.recentProject__text {
  color: var(--cool-gray);
  font-size: var(--fs-7);
  line-height: 1.7;
  margin-bottom: 15px;
}

.userImage__avatar {
  border-radius: 50%;
  background-color: var(--white);
  padding: 0.1rem;
  width: 2.5rem;
  height: 2.5rem;
}

.userImage__avatar:last-child {
  position: relative;
  right: 1.2rem;
}
.tasks__wrapper {
  margin-bottom: 1rem;
}
.tasks__task {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  background-color: var(--white);
  box-shadow: var(--shadow-1);
  border-radius: var(--radius-6);
  margin-bottom: 1rem;
  padding: 1.5rem;
}

.task__left {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.task__label {
  color: var(--davys-gray);
  font-size: var(--fs-9);
  font-weight: var(--fw-600);
  line-height: 1.5;
  align-self: flex-end;
}

.tag {
  border-radius: 10px;
  padding: 3px 8px;
  width: max-content;
  font-weight: var(--fw-600);
  font-size: var(--fs-10);
}

.tag--task1 {
  background-color: var(--pacific-blue_12);
  color: var(--pacific-blue);
}

.tag--task2 {
  background-color: var(--pacific-blue_12);
  color: var(--pacific-blue);
}

.tag--task3,
.tag--task4 {
  background: var(--davys-gray_12);
  color: var(--davys-gray);
}
.task__middle {
  width: max-content;
}
.task__right {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
  color: var(--davys-gray);
  font-size: var(--fs-9);
  font-weight: var(--fw-600);
}
.task__list,
.task__comment {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.tag--high {
  background: var(--imperial-red_12);
  color: var(--imperial-red);
}
.tag--medium {
  background: var(--coral_12);
  color: var(--coral);
}
.tag--low {
  background: var(--emerald_12);
  color: var(--emerald);
}
.btn__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn__loadMore {
  border-radius: var(--radius-6);
  border: 1px solid var(--blue-ryb);
  padding: 0.5rem 1rem 0.5rem 1rem;
  background: none;
  color: var(--blue-ryb);
  font-weight: var(--fw-600);
}
